body{
   background-color:beige;
}
.cash-given{
display: none;
}
.check-button{
  display: none;
}
td{
  padding: 0.3rem;
}
.container{
    display:flex;
    width: 50%;
    margin: auto;
    flex-direction: column;
    width: 50vw;
    background-color:blanchedalmond;
    text-align: center;
    width: 50%;

}
footer a{
  font-size: large;
  margin: 0.5rem;
  text-decoration: none;
  color: black;
}
footer{
padding: 1rem;
position: fixed;
left: 0;
bottom: 0;
width: 100%;
text-align: center;
}